[2017-05-05 19:13] andrewkcarter opened #1 "Filter fails on null value"
If a field configured to filter has a null value, it's still creating the filter. The filter is not valid.

[code]

[2017-05-18 13:32] filippoleoncini opened #2 "Don't understand fieldMapperHack:fields"
I have an index pattern called "Luke".

I have this json:
'
					"intents" : {
						"type" : "object",
						"properties" : {
							"intent" : {"type" : "string"},
							"confidence" : {"type" : "float"}
	                                    }
'
I don't uderstand what I have to do with the Advanced Setting "fieldMapperHack:fields".

The .gif image doesn't show this step of configuration.

[2017-05-18 13:48] filippoleoncini commented on #2
Here the mapping
'
"mapping":{
	"default" : {
	"properties" :{
                             "intents" : {
						"type" : "object",
						"properties" : {
							"intent" : {"type" : "string"},
							"confidence" : {"type" : "float"}
						}
                                 }
                    }
} '

[2017-05-18 13:50] andrewkcarter commented on #2
Try this as the value for `fieldMapperHack:fields`.
[code]
This means for the index pattern name `Luke`, you want to insert a row into the fields table for a field named `intents`.

I do need to provide some actual documentation for this. It's on my todo list. But in the meantime, please feel free to continue to ask your questions here.

[2017-05-18 14:03] filippoleoncini commented on #2
Thank for your answer, but it doesn't work.

At this point I'll try to give you all my file:

- Mapping json

' { "mapping":{
	"default" : {
	"properties" :{

		{
			"id" : {"type" : "string"},
			"key" : {"type" : "string"},
			"value" : {
				"type" : "object",
				"properties" : {
					"rev" : {"type" : "string"}
				}
			},
			"doc" : {
				"type" : "object"
				"properties" : {
					"_id" : {

[2017-05-18 14:28] andrewkcarter commented on #2
Try
[code]

[2017-05-18 14:31] andrewkcarter commented on #2
When you look at the fields list for you index pattern, you probably see listed:
[code]
and what you're trying to add is the parent of those two fields, i.e:
[code]

[2017-05-18 14:40] filippoleoncini commented on #2
Thank you very much, your solution works.

Another question (the last one ;) ).

I have this field now:

![immagine](https://cloud.githubusercontent.com/assets/20639905/26207568/321cb238-3be8-11e7-89a7-578ba1139366.png)

Can I use this new field to make an histogram that shows me the "confidence" per "intent"? Because it is this my goal.

Thanks for your professional answer and kindness ;)

[2017-05-18 14:59] andrewkcarter commented on #2
@filippoleoncini Glad to help. As far as your histogram visualization, you should be able to accomplish that without the need for this plugin or the configuration you just did. This plugin specifically gives you the ability to apply a display format to fields that Kibana leaves as JSON in the search table.

For your histogram, create a new vertical bar chart, and select a Y-axis aggregation other

[2017-05-18 15:00] #2 closed

[2017-05-23 19:05] adistoica opened #3 "Nested Json example"
Hi!

I recently gave your plugin a try, however I think I'm having a configuration issue on my end.

Could you please paste the exact nested JSON example you are using in the README.md gif file?

<img width="662" alt="screen shot 2017-05-23 at 10 02 12 pm" src="https://cloud.githubusercontent.com/assets/8807531/26371491/96f2fdce-4003-11e7-8dba-605662881f59.png">

I would like to compare it to my c

[2017-05-25 02:49] madisonb commented on #3
I think this is what you are looking for:

[code]

This is a random example but that should still give you the idea.

[2017-05-25 07:24] adistoica commented on #3
Thank you @madisonb ! I've managed to correctly configure the plugin, based on the sample you provided!

[2017-05-25 07:24] #3 closed

[2017-05-26 22:13] sidharthchugh opened #4 "Array of Objects not visible on Index Patterns"
I have installed the plugin but If you check attached screenshots, partnerDetailSearch array is not visible on Index Patterns.

![screen shot 2017-05-27 at 00 09 38](https://cloud.githubusercontent.com/assets/1497853/26514265/0e49cbe0-4271-11e7-8718-46af6e2f2af1.png)
![screen shot 2017-05-27 at 00 09 10](https://cloud.githubusercontent.com/assets/1497853/26514269/13dc0532-4271-11e7-8d3c-5832191722

[2017-05-27 20:18] madisonb commented on #4
@sidharthchugh Can you provide your exact kibana version, a small sample doc, and the current settings for `fieldMapperHack:fields` so we may better try to reproduce the issue?

Did you refresh the index mappings after installing the plugin and configuring the above?

[2017-05-28 11:15] sidharthchugh commented on #4
@madisonb

Kibana Version : 5.4.0
fieldMapperHack:fields = {"index_pattern":{"*":{"include":[],"exclude":[".*"]}}}

sample data:

partnerDetailSearch:  {
  "meta": {
    "name": "partnerDetailSearch",
    "type": "Strategic partners - Do not take into account my company profile",
    "createdAt": 1495723800297,
    "searchStatus": "searchDeleted",
    "matchLoaded": "true"
  },
  "fields": {
    "

[2017-05-30 14:59] andrewkcarter commented on #4
@sidharthchugh Try this configuration for fieldMapperHack:fields:
[code]

[2017-05-30 15:29] sidharthchugh commented on #4
@andrewkcarter Thank you for your reply, Now I can see partnerDetailSearch in index pattern, can you also please suggest me what i have to write in index pattern.

I am unable to see proper result on discover of kibana. I tried but did'nt work :(

<img width="1495" alt="screen shot 2017-05-30 at 17 23 47" src="https://cloud.githubusercontent.com/assets/1497853/26591277/6fd5e008-455d-11e7-87b4-8c85

[2017-05-30 17:05] andrewkcarter commented on #4
Depending on what you want to see, you would then fill in the `label` and `field` for each:
_field:_ `meta.type`
or maybe
_label_: `Search Name` and _field_: `fields.partnerDetailSearchName.typeValues`
**Add Field**
_label_: `Technologies` and _field_: `fields.partnerTechnologyField.typeValues`

[2017-05-30 19:54] sidharthchugh commented on #4
Awesome, you are really great. Made by Day. Thanks :)

[2017-05-30 19:54] #4 closed

[2017-06-19 14:26] enz0slyde opened #5 "Field mapping don't work"
Hello,

I am trying your plugin with your examples and many other samples but the field mapping never success..

This is the index I got with your second example (in the README) :
![image](https://user-images.githubusercontent.com/29545747/27289573-b2a68510-550a-11e7-9ff8-755da221b3cb.png)

Using your fieldMapperHack :
![image](https://user-images.githubusercontent.com/29545747/27289768-6ba50d70-5

[2017-06-19 14:44] madisonb commented on #5
Your kibana index pattern shows the entry as `my_index*` but the pattern you have in the plugin is only `my_index` (no `*`). Do you have an alias set up and will Elasticsearch consider `my_index` as a valid index? If you use use `my_index*` in the fieldMapperHack:fields entry what are your results?

[2017-06-19 14:44] enz0slyde commented on #5
Ok I just found a [closed issue who gave me the answer.](https://github.com/istresearch/kibana-object-format/issues/4)

I must use a fieldMapperHack like this :
{"index_pattern":{"*":{"include":["new_releases"],"exclude":[]}}}

[2017-06-19 14:51] enz0slyde commented on #5
Hello madisonb,

You are right !
Using this filedMapperHack work !
{
    "index_pattern":{
        "*":{
            "include":[

            ],
            "exclude":[
                ".*"
            ]
        },
        "my_index*":{
            "include":[
                "new_releases"
            ]
        }
    }
}

Thank you !

[2017-06-19 14:51] #5 closed

[2017-07-22 23:22] andyh69uk opened #6 "Kibana 5.5"
Hi love the plugin, have you started working on a 5.5 release yet?

[2017-07-23 11:24] andrewkcarter commented on #6
It's in the works. There are a few changes under the hood of 5.5 we need to account for.

[2017-08-20 12:02] elvarb commented on #6
Any updates?

[2017-08-21 21:06] andrewkcarter commented on #6
Almost there.
https://github.com/istresearch/kibana-object-format/pull/7

[2017-08-22 00:26] #1 closed

[2017-09-13 16:08] dajs3010 opened #9 "Plugin installation was unsuccessful due to error "No kibana plugins found in archive""
Hi, I'm trying to install this plug in, but I'm getting the following error:

Transferring 2077938 bytes....................
Transfer complete
Retrieving metadata from plugin archive
Plugin installation was unsuccessful due to error "No kibana plugins found in archive"

I have tried installing from URL and from the downloaded file with no success:

bin/kibana-plugin install file:///Users/mono/elas

[2017-09-13 17:09] andrewkcarter commented on #9
HI. You need to use the URLs for the releases found here: https://github.com/istresearch/kibana-object-format/releases

I haven't made a release for 5.6 yet, but the changes are about ready. In the meantime, you could checkout the master branch and follow the instructions here (https://github.com/istresearch/kibana-object-format#development) to build the source into the plugin package which you ca

[2017-09-13 17:09] #9 closed

[2017-09-14 15:43] dajs3010 commented on #9
Hi thanks for helping me, I already set the environment and run successfully the build command but I can't find the plugin installation file... where is it? Should I put the plugin zip or the folder int the plugins folder? Or what I'm doing wrong?

[2017-09-14 22:13] dajs3010 opened #10 "Refresh pattern does not generate the new object in field list"
After adding the json to the fieldMapperHack:fields setting, when I refresh the field list in the index pattern, the new object field it's not showing...
I'm working with a builded plugin by myself for the kibana 5.6 version.
This is the json that I'm using (the same from your examples)
[code]

Thanks in advance

[2017-09-14 22:19] dajs3010 commented on #10
I did it in this way and works:

`{"index_pattern":{"*":{"include":["new_releases","book"],"exclude":[]}}}`

Please update the instructions in README.md

[2017-09-15 12:38] andrewkcarter commented on #10
@dajs3010, what is the name of your index pattern in Kibana? The configuration you used above is relying on `*` to match all index patterns. It's likely that the sample configuration using an index pattern named `my_index` simply didn't match yours.

If that isn't the case, I would like to know so we can check for a regression.

[2017-10-11 13:48] zwayne commented on #6
Is 5.5.2 supported? I can't seem to get it installed.

[2017-10-11 13:54] andrewkcarter commented on #6
@zwayne You can see the packaged release versions here: https://github.com/istresearch/kibana-object-format/releases. These are the only ones I have tested and know are compatible.

If you don't see one for your version, you can build your own from master (or the closest tag to your older version). Just follow the instructions for building found here: https://github.com/istresearch/kibana-object-f

[2017-10-30 13:54] #10 closed

[2017-11-02 17:35] wonnado opened #11 "Usage with other plugins"
Hi, thanks for your plugin! I tried to use your plugin with [Own Home](https://github.com/wtakase/kibana-own-home), but I got an error
`Uncaught Error: [$injector:unpr] Unknown provider: confirmModalPromiseProvider <- confirmModalPromise <- indexPatterns <- courier
http://errors.angularjs.org/1.4.7/$injector/unpr?p0=confirmModalPromiseProvider%20%3C-%20confirmModalPromise%20%3C-%20indexPatterns%20

[2017-11-08 15:08] andrewkcarter commented on #11
@wonnado Thanks for the report. I've seen this with another plugin too, and I haven't been able to track the source of the issue yet.

[2017-11-17 08:16] MatthD opened #12 "How to use with unknown property in object"
Hi!

I installed the plugin & it works but I would like to use it on unknown property name . I have those kind of objects:

"Guys": {
"Paul" : { age: 13, town : "Paris"},
"Pierre" : { age: 13, town : "NewYork"}
}

it's a sample eg I do not have this really ;) but it's to demonstrate that I do not know in advance the name of the main properties.
I just want to
So I tried to put "*" as "Field (dot n

[2017-11-17 14:27] andrewkcarter commented on #12
Hi @MatthD. That's not implemented. I can take it as a feature request, but I don't have a lot of time lately. If you wanted to provide a PR I would be happy to accept it. If you chose to go this route let me know so that we can align on the behavior expectations.

[2017-11-23 22:32] mcezzare commented on #6
Hy just to share. I was able to fork the project and just changed the package.json to 5.6.3
"kibana": {
    "version": "5.6.3"
  },

and in the machine i used to build , on the directory build, just run a python command to serve the file:
[code]
Serving HTTP on 0.0.0.0 port 8000 (http://0.0.0.0:8000/) ...
10.80.61.99 - - [23/Nov/2017 20:28:03] "GET /kibana_object_format-0.1.1.zip HTTP/1.1" 200 -

[2017-11-23 22:36] mcezzare commented on #6
if you can't run build, I left a version at: https://github.com/mcezzare/kibana-object-format/blob/master/kibana_object_format-0.1.1.zip

[2017-12-10 23:36] angeloudy commented on #11
I am having the same issue.
`Error: [$injector:unpr] Unknown provider: confirmModalPromiseProvider <- confirmModalPromise <- indexPatterns <- courier http://errors.angularjs.org/1.4.7/$injector/unpr?p0=confirmModalPromiseProvider%20%3C-%20confirmModalPromise%20%3C-%20indexPatterns%20%3C-%20courier (https://logs.ish.com.au/bundles/commons.bundle.js?v=14823:35)`

[2017-12-12 05:27] andrewkcarter commented on #11
Feel free to submit a PR if you have a solution.

[2017-12-14 10:27] xiaoxuez opened #13 "Hi, can format is number?"
I want use it to make a line of vis.but format just contains text,link and image.so how can i make a number type.

[2017-12-14 10:47] xiaoxuez commented on #13
oh, i find the way.

[2017-12-14 10:47] #13 closed

[2017-12-14 10:53] andyh69uk opened #14 "Kibana Index ID"
Since 5.6, Kibana stores index settings using, by default, a random ID as opposed to the index name. This means that you must use the ID in fieldMapperHack settings. Reference Kibana https://github.com/elastic/kibana/pull/12719

[2018-01-03 01:03] tschroeder-zendesk commented on #6
Are you going to do a release for 5.5.x and 5.6.x anytime soon? It seem the code is there already just no release is done.

[2018-02-06 05:12] andrewkcarter commented on #14
Thanks, this is correct. I'll update the documentation.

[2018-02-06 07:30] #14 closed

[2018-02-06 07:31] #12 closed

[2018-02-06 17:47] #11 closed

[2018-02-06 17:52] andrewkcarter commented on #6
https://github.com/istresearch/kibana-object-format/releases/tag/v0.1.1_kbn_5.5.3
https://github.com/istresearch/kibana-object-format/releases/tag/v0.1.2_kbn_5.6.7
Release packages on the way.

[2018-02-06 17:52] #6 closed

[2018-02-06 17:54] andrewkcarter opened #17 "Kibana 6.x Support"

[2018-02-12 03:18] andrewkcarter commented on #17
Closed by https://github.com/istresearch/kibana-object-format/pull/18.

[2018-02-12 03:18] #17 closed

[2018-02-14 21:41] Marjani opened #19 "how can install this plugin"
Hi
I'm sorry for simple question!
How can I add this plugin to Kibana?

[2018-02-14 21:46] andrewkcarter commented on #19
From your kibana directory, run:
[code]
The URL comes from the *Assets* list of the [releases page](https://github.com/istresearch/kibana-object-format/releases). Pick one that matches your Kibana version.

You can also follow [Kibana's documentation](https://www.elastic.co/guide/en/kibana/current/_installing_plugins.html).

[2018-02-15 19:50] #19 closed

[2018-02-20 19:20] andrewkcarter opened #20 "Kibana 6.2.2 Support"
https://github.com/istresearch/kibana-object-format/tree/kbn_6.2.2

[2018-02-20 19:27] #20 closed

[2018-03-16 11:12] md2k opened #21 "Mapping do not work or probably i doing something wrong."
Kibana/ES  6.2.2
Plugin: https://github.com/istresearch/kibana-object-format/releases/tag/v0.1.2

I have information in ES similar to:
Json Data:
[code]

fieldMapperHack:fields configuration is:
[code]

But with this configuration plugin dose not create any filed and refresh index patterns dose not help.
<img width="605" alt="screenshot 2018-03-16 12 03 37" src="https://user-images.githubuserconte

[2018-03-20 11:15] md2k commented on #21
anyone ?

[2018-03-20 11:29] andrewkcarter commented on #21
Your configuration looks correct. Try searching the fields list for
"categories", it check the tail end of the list. Unless the fields list is
sorted, I think I remember the new entries appearing at the end.

If that's not it, I'll dig deeper for you.

On Tue, Mar 20, 2018, 7:15 AM Yevgen Flerko <notifications@github.com>
wrote:

--

------------------------------
This e-mail and any files transmi

[2018-03-20 13:00] md2k commented on #21
I tried, but still the same :(
<img width="1116" alt="screenshot 2018-03-20 14 00 10" src="https://user-images.githubusercontent.com/195619/37655987-0e8213f4-2c47-11e8-8aba-d378e669fe8c.png">

[2018-03-20 13:33] andrewkcarter commented on #21
@md2k, one other thing to check is the ID of the index pattern. In newer Kibana versions (5.4+ I think) creating a index pattern actually creates a unique UUID and the name you specify is only a display name, unless specifically overridden when defining the pattern.

The `fieldMapperHacks` configuration must be pointed to the `ID` of the index pattern or it won't work. To get the ID, visit the _In

[2018-03-20 15:28] md2k commented on #21
Aha, i'll take look and check this a bit later today.  i think i seen something about uniq ids here in tickets, but probably didn't got it properly.
I'll post back about result later today

[2018-03-21 10:46] md2k commented on #21
Did what you said, but no luck. I'll try to wipe all data and re-create data in es.

[2018-03-21 13:44] andrewkcarter commented on #21
@md2k another thing to try out is to add your field name to the "all" index patterns configuration, then refresh the index pattern, like so:
[code]
If this works, then we know it's something to do with the configuration of your specific index pattern.

[2018-03-21 15:12] md2k commented on #21
tried this as well, but again no any luck. :(

[2018-03-21 15:15] md2k commented on #21
it is correct that i'm not able to see in Kibana status your plugin? : https://www.dropbox.com/s/wvlr76kl8takoik/Screenshot%202018-03-21%2016.14.25.png?dl=0

[2018-03-21 15:20] andrewkcarter commented on #21
Yes, it doesn't list there. You know it's installed if the configuration entry is in the Advanced Settings table. Do you get any errors in the browser console when saving the configuration or when refreshing the index pattern?

[2018-03-21 15:25] md2k commented on #21
Nope, no Errors at all. what i found by the way. it is when i checking Graph settings i can see selection for category (categories, categories.title, categories.title.keyword), like plugin doing it job, but kibana by some reason do not show new filed in index.
https://www.dropbox.com/s/az2taix00qjjdja/Screenshot%202018-03-21%2016.24.40.png?dl=0

I'm new in ES. is there any way to get what is actua

[2018-03-21 15:30] md2k commented on #21
do not min my last message.. now i can see categories field :
https://www.dropbox.com/s/lr8iugitsrzt29j/Screenshot%202018-03-21%2016.29.25.png?dl=0
only it seems took more than 10 minutes to get this field there. maybe i need check some settings to able get changes more faster?

[2018-03-21 15:32] andrewkcarter commented on #21
It shouldn't take any time at all, as long as the refresh fields request returns in a reasonable time. When you click the refresh button, how long does the progress bar remain on screen (the little pink band near the top)?

I'm glad to hear it's working.

[2018-03-21 15:40] md2k commented on #21
Refresh takes around 1 second and in dev console (chrome) i can see positive request with positive response. i'll take a look more, maybe still some where problem from my side why it takes for me so long time (maybe cache, because kibana behind nginx revers proxy)

[2018-03-21 18:14] md2k commented on #21
ok. i tested and can confirm it work with 6.2.2 with next **fieldMapperHack:fields**
[code]
probably it will be better to add to Readme that now need use UUID or set custom index identifier.
found only problem when sub object render in kibana load Chrome too high if amount of objects inside more than 10 per rendered item. but i think it more related to Kibana itself and not to plugin.

[2018-03-21 18:21] andrewkcarter commented on #21
Thanks for reporting back. I'll try and find a better way to document the requirement of using index pattern ID over name.

When configuring the field formatter, you may use the `limit` parameters to only render _n_ items if you're use case allows that.

[2018-03-21 18:21] #21 closed

[2018-04-03 12:02] ahoz opened #22 "Update version number in package.json"
Hi :-)
Would you please update the package number in package.json to 6.2.3 ?
It is compatible with this version.

[2018-04-03 13:12] andrewkcarter commented on #22
Tested and done. Please get it from: https://github.com/istresearch/kibana-object-format/releases/tag/v0.1.2

[2018-04-03 13:12] #22 closed

[2018-04-11 16:00] anandgavai opened #23 "GIVE LINK TO DOWNLOAD THIS PLUGIN FROM"

[2018-04-11 16:52] andrewkcarter commented on #23
Calm down my friend! https://github.com/istresearch/kibana-object-format/releases

![screen shot 2018-04-11 at 12 47 44 pm](https://user-images.githubusercontent.com/7338230/38631126-dc7773ee-3d86-11e8-85c7-c23b807c3f78.png)

Match up your Kibana version with the last part of the asset filename.

[2018-04-11 16:52] #23 closed

[2018-04-11 19:29] anandgavai commented on #23
Just following git recommendations ;-) nothing personal !

I could figure it out, my group members kept asking me about it !

thanks !

On Wed, Apr 11, 2018 at 6:52 PM, Andrew Carter <notifications@github.com>
wrote:

[2018-04-11 19:31] andrewkcarter commented on #23
You're welcome. I hope the plugin works well for you.

[2018-04-13 17:06] hjotha opened #24 "Error loading index - fieldMapperHack:fields"
After installing the plugin I am receiving the following error when loading an index in kibana:

Unexpected config.get("fieldMapperHack:fields") call on unrecognized configuration setting "fieldMapperHack:fields". Setting an initial value via config.set("fieldMapperHack:fields", value) before attempting to retrieve any custom setting value for "fieldMapperHack:fields" may fix this issue. You can a

[2018-04-13 17:35] andrewkcarter commented on #24
Which specific version did you install and what version of Kibana are you running?

[2018-04-13 17:37] hjotha commented on #24
Version: 6.2.3
Plugin: 6.2.3

[2018-04-13 17:48] andrewkcarter commented on #24
Interesting. Kibana should be loading a default value from the package.json file. If you go to _Management -> Advanced Settings_ is the configuration present in the table and filled with the default value?

[2018-04-13 17:51] hjotha commented on #24
Yes, when I click the index for kibana to show it the error happens and the index does not get loaded.

![image](https://user-images.githubusercontent.com/23729943/38750051-1313da9c-3f2a-11e8-87c8-3bf652e798e2.png)

[2018-04-13 17:53] andrewkcarter commented on #24
Would you be able to pull and build #25 locally to test it? If not, I'll try and get to it over the weekend.

The instructions for building are here: https://github.com/istresearch/kibana-object-format#development

[2018-04-13 17:55] hjotha commented on #24
Management -> Advanced Settings
![image](https://user-images.githubusercontent.com/23729943/38750225-a3bf0dbe-3f2a-11e8-8d8b-baea81b4e874.png)

[2018-04-21 03:06] Xosmond commented on #24
could you please make a "release" link to try that ? I have tried modify the file and then compressing  the zip but got this:

`Plugin installation was unsuccessful due to error "Error retrieving metadata from plugin archive"`

[2018-04-21 03:08] andrewkcarter commented on #24
@Xosmond are you experiencing the same error? If so, what is your Kibana version?

[2018-04-21 03:28] Xosmond commented on #24
All ELK stack are on 6.2.3

[2018-04-21 03:42] andrewkcarter commented on #24
Interesting. I'm not able to reproduce this using the ES 6.2.3 docker image.
Here is a build to try: https://github.com/istresearch/kibana-object-format/releases/download/v0.1.3/kibana_object_format-0.1.3-kbn_6.2.3-564c1b2.zip

[2018-04-21 03:57] Xosmond commented on #24
I will take a look tomorrow Andrew! Here is too late

[2018-04-22 01:30] Xosmond commented on #24
I got the plugin installed with no error message! but looks like it doesn't work, the field doesn't appear on the index field list after update fields.

[2018-04-22 01:35] andrewkcarter commented on #24
A common mistake is to use the display name instead of the ID of the index pattern when defining the field mapper hack. Could this be why it's not registering your field when you refresh?

[2018-04-22 02:15] Xosmond commented on #24
I dont think so, maybe because the objects inside the array has internal objects (and some have different data)?

Like
[code]

I have that kind of data 😕

[2018-05-24 13:40] sprijosh opened #26 "Cannot install on Kibana 6.2.4"
I have been trying to install this plugin for Kibana 6.2.4.

It said it cannot support even I have modified the package from 6.2.3 to 6.2.4

[2018-06-01 19:30] molina-rodrigo commented on #26
+1

[2018-06-03 12:11] sakthiraam commented on #26
Hi, I'm trying to install in 6.2.4 . Giving me error stating "Error: end of central directory record signature not found".

[2018-06-03 12:21] andrewkcarter commented on #26
I'll try and work on it this week.

[2018-06-06 06:11] andrewkcarter commented on #26
Here is a build which I tested on Kibana 6.2.4. If you continue to have trouble installing the plugin, please share the steps you are executing and whether you are running Kibana in docker or not so that I may try and reproduce the issue.
https://github.com/istresearch/kibana-object-format/releases/download/v0.1.3/kibana_object_format-0.1.3-kbn_6.2.4.zip

[2018-06-06 06:12] #24 closed

[2018-06-08 14:02] andrewkcarter commented on #26
The include is applied first, then exclude. So your exclude of `.*` is your problem.

[2018-06-08 14:02] andrewkcarter commented on #26
Just remove the exclude entry entirely for your index.

[2018-06-08 19:15] #26 closed

[2018-07-13 13:43] andrewkcarter opened #27 "Discover Table not wrapping when _source"
When the discover table is showing the `_source` of a document instead of selected columns, the document text is not correctly wrapping. This pushes the content of the expanded row table way out to the right, off screen.

The object format should only set nowrap when it's a selected column, not when it's part of the _source column.

[2018-07-13 14:38] #27 closed

[2018-08-10 08:49] aaratushnyak opened #29 "kibana v6.3.2"
** Environment **
 - OS: aws linux
 - Kibana version 6.3.2

**Describe the bug**
we are use kibana and ES v6.3.2. where can I download kibana-object-format for it version

[root@dev-logstash ~]# rpm -qa|grep kibana
kibana-6.3.2-1.x86_64
[root@dev-logstash ~]# rpm -qa|grep elasticsearch
elasticsearch-6.3.2-1.noarch

[2018-08-10 11:41] pettersoderlund commented on #29
6.3.2 doesnt seem to be released. https://github.com/istresearch/kibana-object-format/releases/tag/v0.1.6
Either you can try building it yourself or wait for @andrewkcarter to release it :)

[2018-08-10 11:44] aaratushnyak commented on #29
@andrewkcarter when are you release for 6.3.2?

[2018-08-10 14:00] andrewkcarter commented on #29
Here you go: https://github.com/istresearch/kibana-object-format/releases/tag/v0.1.6

[2018-08-10 14:00] #29 closed

[2018-08-10 14:28] aaratushnyak commented on #29
thanks

[2018-08-24 10:01] genesisyau opened #30 "Error retrieving metadata from plugin archive"
I'm getting this message every time I try to install the plugin:

Attempting to transfer from https://github.com/istresearch/kibana-object-format/archive/v0.1.6_kbn-6.3.2.tar.gz
Transferring unknown number of bytes
Transfer complete
Retrieving metadata from plugin archive
Plugin installation was unsuccessful due to error "No kibana plugins found in archive"

I've tried with these links
https://git

[2018-08-25 12:16] andrewkcarter commented on #30
https://github.com/istresearch/kibana-object-format/releases/download/v0.1.6/kibana_object_format-0.1.6-kbn_6.3.2.zip
Is the correct URL.

[2018-08-27 03:11] genesisyau commented on #30
I've successfullydownloaded the plugin, but the index fieldMapperHack:fields in advanced settings won't appear.
![error](https://user-images.githubusercontent.com/26565579/44638509-cc02a680-a9e9-11e8-812e-a76f93b61243.JPG)

[2018-08-27 07:37] #30 closed

[2018-09-20 18:15] jordansissel commented on #10
I believe I"m seeing this issue.

I am running version 0.1.3 from the head (d18132f) of the kbn_6.2.3 branch.

The object I'm wanting to format is `auditd.paths`, shown here in the Kibana Discover panel:
![image](https://user-images.githubusercontent.com/131818/45838164-efa5cd80-bcc5-11e8-9895-81cc70987455.png)

My configuration looks like this:

[code]

However, when refreshing the index pattern,

[2018-09-20 18:45] andrewkcarter commented on #10
@jordansissel, the first thing I would check is if the ID of your index pattern matches the name `auditbeat-*` or if it's a UUID.  See this issue for specific steps: https://github.com/istresearch/kibana-object-format/issues/21#issuecomment-374598738.

[2018-09-20 20:36] jordansissel commented on #10
The URL looks like this: `http://localhost:5601/app/kibana#/management/kibana/indices/auditbeat-*?_g=()&_a=(tab:indexedFields)` so I think the ID is `auditbeat-*` -- this seems confirmed by `GET /.kibana/_search?q=type:index-pattern+AND+index-pattern.title:"auditbeat-*"` showing a result.

[2018-09-20 22:05] andrewkcarter commented on #10
So I tried to reproduce your index and data. I was able to match your configuration in my test, with the exception the I used Kibana 6.2.4 and 0.1.6 of this plugin. Everything worked.

Are there any javascript errors in your browser console @jordansissel?

[2018-09-20 22:47] jordansissel commented on #10
Ok I figured it out, I had used the wrong JSON structure. I had accidentally removed the top-level "index-patterns". This works:

[code]

[2018-09-20 22:56] andrewkcarter commented on #10
Good find! I'm glad you got it working.

On Thu, Sep 20, 2018, 6:47 PM Jordan Sissel <notifications@github.com>
wrote:

--

This e-mail and any files transmitted with it may be proprietary and are
intended solely for the use of the individual or entity to whom they are
addressed. If you have received this e-mail in error please notify the
sender. Please note that any views or opinions presented in

[2018-09-20 22:59] jordansissel commented on #10
@andrewkcarter thanks for the help. All good on my side :+1:

[2018-09-28 21:17] arielrolfo opened #31 "not being able to install it"
hi,
I'm trying to install it according to kibana plugin installation instructions but still I'm not quite sure to do it, either using the URL way or the plugin-name method on `kibana-plugin install xxxx`, what do you suggest?

[2018-09-28 22:57] andrewkcarter commented on #31
What version of Mindanao are you running?

On Fri, Sep 28, 2018, 5:17 PM Ariel Rolfo <notifications@github.com> wrote:

--

This e-mail and any files transmitted with it may be proprietary and are
intended solely for the use of the individual or entity to whom they are
addressed. If you have received this e-mail in error please notify the
sender. Please note that any views or opinions presented in

[2018-10-01 12:07] arielrolfo commented on #31
Hi,
kibana-6.2.2-1.x86_64

[2018-10-01 13:37] andrewkcarter commented on #31
From your kibana directory, run:
[code]
The URL comes from the *Assets* list of the [releases page](https://github.com/istresearch/kibana-object-format/releases). Pick one that matches your Kibana version.

You can also follow [Kibana's documentation](https://www.elastic.co/guide/en/kibana/current/_installing_plugins.html).

[2018-10-01 14:02] arielrolfo commented on #31
Rock'n roll!

[2018-10-01 14:02] #31 closed

[2018-10-01 17:21] arielrolfo opened #32 "cannot see the new property in kibana 6.2.2"
I've managed to install the plugin with the provided instructions but still cannot see the new property the plugin is supposed to add in the Advanced Settings table according with Instructions step#2

[2018-10-01 17:32] arielrolfo commented on #32
`kibana.stdout:{"type":"log","@timestamp":"2018-10-01T19:13:21Z","tags":["plugin","warning"],"pid":68047,"path":"/usr/share/kibana/plugins/kibana_object_format","message":"Skipping non-plugin directory at /usr/share/kibana/plugins/kibana_object_format"}
kibana.stdout:{"type":"log","@timestamp":"2018-10-01T19:16:39Z","tags":["plugin","warning"],"pid":70146,"path":"/usr/share/kibana/plugins/kibana_o

[2018-10-01 18:44] andrewkcarter commented on #32
[code]
@arielrolfo try removing that directory and re-installing the plugin. Perhaps it's borked from an earlier attempt or a failed download.

[2018-10-01 22:11] arielrolfo commented on #32
I've tried removing it and re-installing the plugin and still facing that msg when I restart kibana ```{"type":"log","@timestamp":"2018-10-02T02:54:45Z","tags":["plugin","warning"],"pid":51063,"path":"/usr/share/kibana/plugins/kibana_object_format","message":"Skipping non-plugin directory at /usr/share/kibana/plugins/kibana_object_format"}```

[2018-10-02 15:41] andrewkcarter commented on #32
These are the logs I get when installing the plugin. Please compare to yours.
[code]
And then when starting Kibana:
[code]
![screen shot 2018-10-02 at 11 37 28 am](https://user-images.githubusercontent.com/7338230/46359795-fa525200-c637-11e8-842c-add959334efa.png)

I seems to me that something is failing on your end during the download.

[2018-10-02 20:21] #32 closed, assigned to nobody

[2018-11-07 06:45] hsluoyz opened #33 "Is there a release for Kibana 6.4.1?"
Hi. I'm using Kibana 6.4.1. And the latest version has come to 6.4.2. Can you support these newer versions?

[2018-11-08 00:41] andrewkcarter commented on #33
We should be able to. I'll try and find time to do it in the next week. In
the meantime, you could change the version in the plug-in and build it for
yourself to see if it works. There may or may not be other changes
required.

On Wed, Nov 7, 2018, 1:45 AM Yang Luo <notifications@github.com> wrote:

--

This e-mail and any files transmitted with it may be proprietary and are
intended solely for th

[2018-12-06 12:58] PaulAlexandreLUCK commented on #33
Hello,
The call to the format setting window is not displayed in version 6.4.0, but the setting with an earlier version works.

[2018-12-06 13:02] PaulAlexandreLUCK commented on #33
Hello,
Is it possible to develop other formats: date, number, long, parent_id, object_id ...?
Thank's

[2018-12-07 00:05] hsluoyz commented on #33
@andrewkcarter  thanks!

[2018-12-07 00:05] #33 closed

[2019-01-22 14:12] csahraoui opened #34 "The array object is not visibile using fieldMapperHack:fields"
Hi,

Sorry for asking this question again, but I couldn't find the solution to my issue going through the closed issues.
I've the following json:
{
    "@timestamp": "2019-01-22T12:23:13.000Z",
    "@version": "1",
    "format": "json",
    "testData": {
      "testId": "DWPR_62090",
      "members": [
        {
          "member": "name1"
          "memTag": "text",
          "memData": "text",

[2019-01-22 14:24] andrewkcarter commented on #34
Try this... The field `members.member` looks like it's a text field, not a
map/dict or array. Try changing the config and including simply `members`.
Then you can apply a field formatter for the objects in the members array.

On Tue, Jan 22, 2019, 9:12 AM csahraoui <notifications@github.com wrote:

--

This e-mail and any files transmitted with it may be proprietary and are
intended solely for the

[2019-01-22 14:44] csahraoui commented on #34
but I still have the issue

[2019-01-22 15:10] andrewkcarter commented on #34
When you refresh the index pattern, do you observe any javascript errors in the browser console?

One other thing to try is to include the excludes list, even though it's empty. Perhaps it's absence is an issue.
[code]
The last thing I would try is to rule out the index pattern ID as the issue. Do this by only configuring the `*` config (which applies to _all_ index patterns).
[code]

[2019-01-22 15:37] andrewkcarter commented on #34
Cool!

[2019-01-22 15:37] #34 closed

[2019-01-28 10:09] charlesRennes1 opened #35 "Cannot apply the Object field formatter to new field entry of array of Objects"
** Environment **
 - OS : CentOS Linux release 7.5
 - Browser : chrome
 - Kibana version :  6.5.1
 - Kibana Object Formatter plugin version : 0.1.6 kbn-6.3.1

**Describe the bug**
When trying to apply the Object field formatter to new field during formatting an Array of Objects, I get this following message :

Uncaught Invariant Violation: Minified React error #130; visit http://facebook.github.io

[2019-01-29 01:16] andrewkcarter commented on #35
I haven't updated the plugin to work with kibana versions greater than 6.3
yet. If you would like to submit a pull request it would be appreciated.

On Mon, Jan 28, 2019, 5:09 AM charlesRennes1 <notifications@github.com
wrote:

--

This e-mail and any files transmitted with it may be proprietary and are
intended solely for the use of the individual or entity to whom they are
addressed. If you have

[2019-03-15 07:01] HariKRrishnan opened #36 "Unable to install this plugin"
Plugin installation was unsuccessful due to error "Plugin kibana_object_format [6.3.2] is incompatible with Kibana [6.6.1]"
Plugin installation was unsuccessful due to error "Plugin kibana_object_format [6.3.1] is incompatible with Kibana [6.6.1]"
Plugin installation was unsuccessful due to error "Plugin kibana_object_format [6.2.4] is incompatible with Kibana [6.6.1]"
Plugin installation was unsu

[2019-03-28 07:59] servetozkan opened #37 "Kibana 6.6.0 Support"
Is there any plan for 6.6.0?

[2019-07-04 15:11] JaffaSha opened #38 "Why cann't I add a field?"
** Environment **
 - Kibana version [e.g. 6.3.2]
 - Kibana Object Formatter plugin version [e.g. 0.1.6_kbn-6.3.2]

**Describe the bug**
I edited the "fieldMapperHack:fields". I did exactly like the example of the "my_index":{
         "include":[
            "book"
         ]  etc
But in the index pattern, no field added. (I tried to refresh the fields).

Why?

[2019-07-06 23:33] andrewkcarter commented on #38
Hi @jaffasha. The first thing I would look at is the ID of your index pattern, and ensure it matches the key value in the `fieldMapperHack:fields`. Kibana will issue a UUID as the underlying ID which is different than the display name you gave it, unless you explicitly set the ID during index pattern creation.

[2019-07-07 09:01] JaffaSha commented on #38
Yes, It works!
Thank you!

[2019-07-07 09:01] #38 closed

[2019-07-07 12:53] JaffaSha opened #39 "How to display nested arrays in another array?"
** Environment **
 - Browser [ chrome]
 - Kibana version [e.g. 6.3.2]
 - Kibana Object Formatter plugin version [e.g. 0.1.6_kbn-6.3.2]

Kibana can display a single array of objects with the plugin.
I have an array within another array, and more another array inside the second array, etc.
How can I view nested arrays in another array?

[2019-07-07 13:49] andrewkcarter commented on #39
The plug-in provides to separate capabilities. First is the injection of a
field entry in the index pattern to enable you to apply a field formatter
to a specific level in your data. The second is a general purpose
formatter. The Object formatter is pretty flexible, but itself only handles
arrays one level deep.

You probably want to write your own formatter, which isn't that difficult.
There are

[2019-08-29 11:26] WeslyG commented on #36
you need to open zip and edit package.json on your current kibana version, and try install again.

[2019-08-29 12:45] andrewkcarter commented on #36
I expect some incompatibilities with Kibana 6.4+. I just haven't had time to address them.

[2019-08-29 12:46] andrewkcarter commented on #37
I don't know. I will likely target 7+ first as that's what I will need and backport if the level of effort isn't too high. Still no ETA though.

[2019-08-29 12:46] #37 closed

[2019-08-29 12:47] #36 closed

[2019-08-29 12:47] #39 closed

[2019-08-29 12:47] #35 closed

[2019-08-29 20:25] fstefanov commented on #38
Oddly I'm having the same issue same Kibana version 6.3.2
Formatter plugin version 0.1.6_kbn-6.3.2

**fieldMapperHack:fields**

[code]
My test index:
[code]
Some of my index settings:
[code]
Index mapping:
[code]
Reflesh field list does not add expected book field
[code]
And there is no JSON object book in the Discover tab
 t book.author
 t book.title

[2019-08-29 20:50] andrewkcarter commented on #38
@fstefanov, it appears that you are referencing the UID of the index instead of the index pattern in your fieldMapperHack:fields JSON.

One way to get the index pattern ID is to select the index pattern in Kibana -> Management -> Index Patterns and then pull the value from the URL. Another more involved approach is querying the .kibana index for the information:
[code]
should give you...
[code]
Th

[2019-11-19 18:46] maxisam commented on #38
IMHO, this should be in the readme.

[2019-11-19 18:53] maxisam opened #40 "kibana v6.4.0"
** Environment **
 - OS: windows
 - Browser firefox
 - Kibana version 6.4.0
 - Kibana Object Formatter plugin version 0.1.6

**Describe the bug**
I changed the package number to 6.4.0 and it doesn't work.

When I tried to assign the format type object to the field, it threw a message like

Error: Minified React error #130; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=130

[2019-11-19 19:24] andrewkcarter commented on #40
This is going to be a lot of work. The Kibana team has been methodically replacing Angular with React, and 6.4 is where this broke the plugin. Honestly, I'm not going to ever get this supported on 6.4 directly. If I pick this up again, I will be starting with Kibana 7.4 support or later. From there, I may be able to back port it, but I can't promise anything.

[2019-11-19 19:37] maxisam commented on #40
I see. 7.4 is fine with me too. I can upgrade to it. I wonder if I can use 6.3 with elasticsearch 6.4. I feel like it should be fine, but I don't have lots of experience with elk.

[2019-11-19 19:42] andrewkcarter commented on #40
Kibana and Elasticsearch (and the other applications) are supposed to be in major and minor version lockstep. Kibana 6.3 might start against Elasticsearch 6.4, but it will be logging warnings on startup.

[2019-11-19 19:51] maxisam commented on #40
@andrewkcarter  thanks!

[2020-05-26 19:28] andrewkcarter commented on #40
We've jumped to Kibana 7.6.2. No plans to backport.

[2020-05-26 19:28] #40 closed

[2020-08-18 08:42] jvmlet opened #64 "Missing images in readme.md"
Looks like all the images referenced in readme.md are missing, please commit them

[2020-08-18 15:07] andrewkcarter commented on #64
Done. Thanks!

[2020-08-18 15:07] #64 closed

[2020-09-18 13:12] godfried opened #65 "Kibana 7.9 Support"
Hi,

Do you have an plans for creating a release supporting Kibana 7.9?
Thanks for your work.

[2020-09-18 15:28] andrewkcarter commented on #65
Very likely, although I don't have a schedule for that. You can try repackaging it for 7.9. I do not know if it requires any code changes yet. The plugin build script will prompt you for the Kibana version to target. If you do try it, and you encounter an issue please report it back here.

[2020-11-11 04:47] Sarma-hari opened #66 "How to Install on Kibana 7.9.3"
Hi,
I am new to Github. Sorry If I am asking basic question.

I installed Kibana 7.9.3 on my Ubuntu server.
I went through this URL
https://github.com/istresearch/kibana-object-format/blob/master/README.md

How do I install this plugin
If I use command
bin/kibana-plugin install Kibana-object-format I am getting error.

Could you please help by giving complete details of installation.

Thanks
Sarma

[2020-11-11 05:01] Sarma-hari commented on #66
I tried the following and getting error as below

ubuntu@virtualserver01:/usr/share/kibana/bin$ ./kibana-plugin install https://github.com/istresearch/kibana-object-format/releases/download/v0.1.6/kibana_object_format-0.1.6-kbn_7.9.3.zip
Found previous install attempt. Deleting...
Attempting to transfer from https://github.com/istresearch/kibana-object-format/releases/download/v0.1.6/kibana_object

[2020-11-11 05:07] Sarma-hari commented on #66
Is 7.9.3 ready for this. Tried the following getting error as below
ubuntu@virtualserver01:/usr/share/kibana/bin$ ./kibana-plugin install https://github.com/istresearch/kibana-object-format/releases/download/v0.1.10/kibana_object_format-0.1.10-kbn_7.8.1.zipFound previous install attempt. Deleting...
Attempting to transfer from https://github.com/istresearch/kibana-object-format/releases/download/v

[2020-11-11 09:39] Sarma-hari commented on #66
I removed 7.9.3 and installed 7.8.1. But still getting error as below. Any help
ubuntu@virtualserver01:/usr/share/kibana$ ./bin/kibana-plugin install https://github.com/istresearch/kibana-object-format/releases/download/v0.1.10/kibana_object_format-0.1.10-kbn_7.8.1.zip
Plugin installation was unsuccessful due to error "ENOENT: no such file or directory, mkdir"
ubuntu@virtualserver01:/usr/share/kib

[2020-11-11 10:07] Sarma-hari commented on #66
I could complete installation. It was file permission issues, fixed. Thanks for your patience

[2020-11-11 10:07] #66 closed

[2020-11-12 04:15] Sarma-hari opened #67 "Unable to Create new Index part of the example"
Hi,

I installed Kibana-Object-Format add-on. But I am unable to create index which is an example given in the READ.md.
Please find attached error  picture.
Please help
Thanks
Sarma
![Error Creating Index Despite Object-Format Installation](https://user-images.githubusercontent.com/69588159/98894847-bba44c80-24cb-11eb-97b0-c496d31ae3da.png)

[2020-11-16 16:25] andrewkcarter commented on #67
It looks like we need to update examples. When adding the index mapping,
you no longer need to specify a document type (in this example `doc` ).
Omit line 4 of the POST body shown in your screenshot.

On Wed, Nov 11, 2020, 11:15 PM Sarma-hari <notifications@github.com> wrote:

--

This e-mail and any files transmitted with it may be proprietary and are
intended solely for the use of the individual

[2020-11-17 15:17] #65 closed

[2020-11-27 01:59] chentiannan opened #68 "Problems with installing this plug-in in kibana7.9.3"
** Environment **
 - OS:centos7
 - Kibana version [e.g. 7.9.3]
 - Kibana Object Formatter plugin version [master]

**Describe the bug**
Retrieving metadata from plugin archive
Plugin installation was unsuccessful due to error "No kibana plugins found in archive"

[2021-03-04 14:15] andrewaxelrod-ist commented on #68
We are in the process of upgrading the plugin for the newer versions of Kibana.   This plugin should be ready within the next month.

[2021-03-23 13:31] #67 closed

[2021-05-10 12:26] mickvv commented on #68
Dear @andrewaxelrod-ist ,
Do you have any news about the plugin ?
Thank you

[2021-05-24 15:59] andrewkcarter commented on #68
Starting with Kibana 7.12, the multi-fields and list of objects are now displayed and filterable by Kibana itself without the use if this plugin. Development of this project has ceased and we will not be maintaining it going forward.

[2021-05-24 15:59] #68 closed